<section id="about">
    <div class="container text-center vertical-align">
       <h3 class="text-uppercase wow fadeIn">A little <strong>about</strong> us</h3>
       <hr class="wow fadeIn" data-wow-delay="2.9s">
       <p  class="wow fadeIn" data-wow-delay="3.3s">Lorem ipsum dolor sit amet,<strong> consectetur</strong>  adipisicing elit. Consectetur, 
       odit et consequuntur nam in neque rem delectus distinctio ab animi. Nulla
       repudiandae perspiciatis deleniti beatae pariatur doloribus quaerat vero officia!</p>
       
    </div>
</section>