<header id="home">
    <div class="container text-center vertical-align">
        <h1 class="logo wow fadeIn">the<strong>Set up</strong></h1>
        <h3 class="wow fadeIn" data-wow-delay="0.6s">A repsonsive, one page, HTML5 Bootstrap theme.<br>Created by 
        <strong>Izak T</strong>
        
        </h3>
        <a href='#about' class="learn-more">
        <i class="fa fa-angle-down third-arrow wow fadeIn" data-wow-delay="1.6s" aria-hidden="true"></i>
        <i class="fa fa-angle-down second-arrow wow fadeIn" data-wow-delay="1.0s" aria-hidden="true"></i>
        <i class="fa fa-angle-down first-arrow wow fadeIn" data-wow-delay="2.3s" aria-hidden="true"></i>
        </a>
    </div>
    
</header>