    <section id="portfolio">
      
      <!-- Section Heading -->
      <div class="section-heading text-center wow bounceInDown" data-wow-offset="200">
        <h3 class="text-uppercase">Our <strong>Portfolio</strong></h3>
        <hr class="icon">
      </div>

      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="400">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img1.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</h2>
                </div>
                <a href="assets/portfolio-img1.png" data-lightbox="lightbox">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="400" data-wow-delay="0.3s">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img2.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</h2>
                </div>
                <a href="assets/portfolio-img2.png" data-lightbox="portfolio-img2">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="400" data-wow-delay="0.6s">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img3.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</>
                </div>
                <a href="assets/portfolio-img3.png" data-lightbox="portfolio-img3">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="200" data-wow-delay="0.7s">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img4.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</h2>
                </div>
                <a href="assets/portfolio-img4.png" data-lightbox="portfolio-img4">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="200" data-wow-delay="0.8s">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img1.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</h2>
                </div>
                <a href="assets/portfolio-img1.png" data-lightbox="portfolio-img1">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-offset="200" data-wow-delay="0.9s">
            <div class="portfolio-thumb">
              <img src="assets/portfolio-img2.png" class="img-responsive" alt="portfolio">
              <div class="portfolio-overlay">
                <div class="vertical-align">
                  <h2>Project One</h2>
                </div>
                <a href="assets/portfolio-img2.png" data-lightbox="portfolio-img2">
                  <i class="fa fa-search fa-4x"></i>
                </a>
              </div>
            </div>
          </div>

        </div>
      </div>

    </section>