<section id="quotes">
    <div class="container vertical-align">
        <div id="owl-demo" class="owl-carousel lazyOwl text-center">
            <div class="item">
                <blockquote>
                    <h4><cite>Izak Tarashandegan</cite> - Udemy</h4>
                    <a href="#">
                        <img src="/assets/client.png" alt="clinet">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Libero aliquam numquam itaque id iure tempora. Minima, doloremque,
                    consequuntur, natus, ex dicta tempora mollitia esse quod ducimus eveniet
                    facilis accusamus dolorum.</p>
                </blockquote>
            </div>
            <div class="item">
                <blockquote>
                    <h4><cite>Izak Tarashandegan</cite> - Udemy</h4>
                    <a href="#">
                        <img src="/assets/client.png" alt="clinet">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Libero aliquam numquam itaque id iure tempora. Minima, doloremque,
                    consequuntur, natus, ex dicta tempora mollitia esse quod ducimus eveniet
                    facilis accusamus dolorum.</p>
                </blockquote>
            </div>
            <div class="item">
                <blockquote>
                    <h4><cite>Izak Tarashandegan</cite> - Udemy</h4>
                    <a href="#">
                        <img src="/assets/client.png" alt="clinet">
                    </a>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Libero aliquam numquam itaque id iure tempora. Minima, doloremque,
                    consequuntur, natus, ex dicta tempora mollitia esse quod ducimus eveniet
                    facilis accusamus dolorum.</p>
                </blockquote>
            </div>
        </div>
    </div>
</section>