<section id="services">
    <div class="section-heading text-center wow fadeIn" data-wow-offset='200'>
        <h3 class="text-uppercase">Our <strong>Services</strong></h3>
        <hr class="icon"></hr>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12 service-item  wow fadeIn" data-wow-offset="400">
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-item wow fadeIn" data-wow-offset="400" data-wow-delay='0.3s'>
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-item wow fadeIn" data-wow-offset="400" data-wow-delay='0.6s'>
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-item wow fadeIn" data-wow-offset="400" data-wow-delay='0.7s'>
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-item wow fadeIn" data-wow-offset="400" data-wow-delay='0.8s'>
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12 service-item wow fadeIn" data-wow-offset="400" data-wow-delay='0.9s'>
                    <header>
                        <i class="pull-left fa fa-desktop fa-4x"></i>
                        <h3>3D Design</h3>
                            <h4>Lorem Ipusm website</h4>
                    </header>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Excepturi, minima, suscipit, eius architecto nam maiores non 
                    totam saepe est perferendis culpa fuga. Quasi, illo modi soluta 
                    dolore optio hic recusandae.</p>
                </div>
            </div>
        </div>
    </div>
</section>