<section id="status">
    <div class="container-fluid">
        <div class="row">
            <div class="status col-md-3 col-sm-6 col-xs-12 codes text-center">
                <a class="fa fa-code fa-4x">
                    <h2>
                        <strong class='numscroller numscroller-big-bottom' 
                        data-slno='1'
                        data-min='0'
                        data-max='1991'
                        data-delay='6' 
                        data-increment="9">0</strong></h2>
                    <h4>Code Lines</h4>
                </a>
            </div>
            <div class="status col-md-3 col-sm-6 col-xs-12 projects text-center">
                <a class="fa fa-files-o fa-4x">
                    <h2><strong class='numscroller numscroller-big-bottom' 
                        data-slno='1'
                        data-min='0'
                        data-max='530'
                        data-delay='6' 
                        data-increment="3"></strong></h2>
                    <h4>Completed Projects</h4>
                </a>
            </div>
            <div class="status col-md-3 col-sm-6 col-xs-12 clinets text-center">
                <a class="fa fa-users fa-4x">
                    <h2><strong class='numscroller numscroller-big-bottom' 
                        data-slno='1'
                        data-min='0'
                        data-max='45'
                        data-delay='6' 
                        data-increment="1">0</strong></h2>
                    <h4>Happy Clients</h4>
                </a>
            </div>
            <div class="status col-md-3 col-sm-6 col-xs-12 feedback text-center">
                <a class="fa fa-thumbs-up fa-4x">
                    <h2><strong class='numscroller numscroller-big-bottom' 
                        data-slno='1'
                        data-min='0'
                        data-max='98'
                        data-delay='6' 
                        data-increment="3">0%</strong></h2>
                    <h4>Positive Feedback</h4>
                </a>
            </div>
        </div>
    </div>
</section>